.card {
    width: 270px;
    height: 100px;
    background-color: cornflowerblue;
    border: 2px dotted yellowgreen;

    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 10px;
}